
<div class="container">
  <h2>Mis ajour</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" formControlName="nom" #nom class="form-control" id="floatingInput" placeholder="name@example.com" name="nom" [(ngModel)]="enseingnat.nom" >
          <label for="floatingInput">nom</label>
        </div>

      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" formControlName="prenom" #prenom name="prenom" (ngMode)="prenom"  class="form-control" id="floatingPassword" [(ngModel)]="enseingnat.prenom">
          <label for="floatingPassword">prenom</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="email" formControlName="email" #email class="form-control" id="floatingInput" placeholder="name@example.com" name="email" [(ngModel)]="enseingnat.email">
          <label for="floatingInput">Email</label>
        </div>

      </div>
      <div class="col">
        <div class="form-floating">
          <input type="number" formControlName="cin" #cin name="cin" (ngMode)="cin"  class="form-control" id="floatingPassword" value="{{enseingnat.cin}}" [(ngModel)]="enseingnat.cin">
          <label for="floatingPassword">CIN</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" formControlName="adresse"  #adresse class="form-control" id="floatingInput" placeholder="name@example.com" name="adresse"  [(ngModel)]="enseingnat.adresse">
          <label for="floatingInput">Adresse</label>
        </div>

      </div>
      <div class="col">
        <div class="form-floating">
          <input type="number" formControlName="phonenumber"  #phonenumber name="phonenumber" (ngMode)="phonenumber"  class="form-control" id="floatingPassword"   [(ngModel)]="enseingnat.phoneNumber">
          <label for="floatingPassword">Numéro de telephone</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input type="text" #matiere formControlName="matiere" name="matiere" (ngMode)="matiere"  class="form-control" id="floatingPassword"  [(ngModel)]="enseingnat.matiere">
          <label for="floatingPassword">Matiere</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating" >
          <input type="submit" value="Mise a joure" class="btn btn-primary" data-bs-dismiss="modal" style="margin-top: 5%; width: 100%;" (click)="updateenseingnat()" >


        </div>
      </div>
    </div>

</form>

</div>
